The dataset

In [1]:
from datasets import load_dataset
train_dataset = load_dataset("imdb", split="train").to_pandas()
test_dataset = load_dataset("imdb", split="test").to_pandas()

ModuleNotFoundError: No module named 'datasets'

In [12]:
test_dataset

                                                    text  label
0      I love sci-fi and am willing to put up with a ...      0
1      Worth the entertainment value of a rental, esp...      0
2      its a totally average film with a few semi-alr...      0
3      STAR RATING: ***** Saturday Night **** Friday ...      0
4      First off let me say, If you haven't enjoyed a...      0
...                                                  ...    ...
24995  Just got around to seeing Monster Man yesterda...      1
24996  I got this as part of a competition prize. I w...      1
24997  I got Monster Man in a box set of three films ...      1
24998  Five minutes in, i started to feel how naff th...      1
24999  I caught this movie on the Sci-Fi channel rece...      1

[25000 rows x 2 columns]

In [21]:
test_dataset[test_dataset['label'] == 0].count()

text     12500
label    12500
dtype: int64

In [22]:
train_dataset[train_dataset['label'] == 0].count()

text     12500
label    12500
dtype: int64

Naive Bayes classifier